body {
  padding: 50px 0;
  margin: 0 auto;
  width: 90vw;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

header h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}
p{
  text-align: center;
  width: auto;
}

section {
  flex: 1 1 45%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  width: 50%;
}

section ul{
  text-align: left;
  padding-left: 20px;
  margin: 10px auto 0;

}

hr {
  width: 80%;
  margin: 20px auto;
  border: none;
  height: 2px;
  background-color: #000;
}

footer {
  text-align: center;
  margin-top: 20px;
}