body{
    background-color: bisque
    color: whitesmoke;
}

.container{
    background-color: rgb(13, 13, 80);
    width:80%;
    max-width: 600px;
    border-radius:10px;
    margin: 40px auto;
    padding: 10px 20px;
    box-shadow: 0 5px 15px black;
}

label:not(#availability){
    display: block;
    color:azure;
    font-size: 1.2rem;
    margin:0 60px;
}

#availability{
    color: azure;
    font-size: 1.2rem;
    margin: 0 60px;
}





