body{
    background-color: bisque;
    color: whitesmoke;
}

h1{
    color:aliceblue;
    text-align: center;
}
.container{
    background-color: rgb(13, 13, 80);
    width:80%;
    max-width: 600px;
    border-radius:10px;
    margin: 40px auto;
    padding: 10px 20px;
    box-shadow: 0 5px 15px black;
}

fieldset{
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend{
  font-size: 1.3rem;
  font-weight: 600;
}

label:not(#availability){
    display: block;
    color:azure;
    font-size: 1.2rem;
    margin:0 60px;
}

#availability{
    color: azure;
    font-size: 1.2rem;
    margin: 0 60px;
}

legend{
    color: azure;
    font-size: 1.2rem;
}








