body{
    background-color: darkgray;
    color: whitesmoke;
}

.container{
    background-color: rgb(13, 13, 80);
    width:80%;
    max-width: 600px;
    border-radius:10px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 0 5px 15px black;
}

