body{
    background-color: bisque;
    color: whitesmoke;
}

h1{
    color: whitesmoke;
    text-align: center;
}
.container{
    background-color: rgb(13, 13, 80);
    width:80%;
    max-width: 600px;
    border-radius:10px;
    margin: 40px auto;
    padding: 10px 20px;
    box-shadow: 0 5px 15px black;
}

fieldset{
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend{
  font-size: 1.3rem;
  font-weight: 600;
}

label:not(#availab-status){
    display: block;
    color: whitesmoke;
    font-size: 1.2rem;
    margin: auto;
}

input:not(.availability), textarea{
  background-color: bisque;
  width: 95%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.availability {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  display: block;
}

.availability::before{
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(3px, 3px) scale(0);
  transition: all 0.3s ease-in;
}

.availability::before {
  transform: translate(3px, 3px) scale(1);
  background-color: lightgreen;
}

#submit-btn {
  cursor: pointer;
  background-color: royalblue;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 1.1rem;
  display: block;
  width:80%;
  max-width: 600px;
  margin: auto;
}

#submit-btn:hover{
  background-color: midnightblue;
}

input, textarea:focus{
    border-color: aquamarine;
}

input, select, textarea:invalid{
    border-color: red;
}










