@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Roboto', sans-serif;
     line-height: 1.6;
     width: 100%;
     height: 100%;
}
header{
    height: 4vh;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-style: normal;
    display: flex;
    background-color: whitesmoke;
}
#name{
    width: 30%;
    margin-left: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(6, 6, 39);
}
.navigator{
    width: 60%;
    margin-left: 30px;   
}
.navigator ul{
    list-style: none;
    margin-left: 90px;
    display: flex;
    margin-bottom:10px;
}
.navigator ul li{
    text-align: center;
    margin-left: 30px;
    }
.navigator a{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(7, 7, 46);
    padding: 8px 16px; 
}
a:hover{
    cursor: pointer;
    border-color: dodgerblue;
    transform: scale(1.1);
    background-color: rgb(242, 141, 8);
    color:rgb(6, 6, 39);
    text-decoration: underline;
}
.home {
  width: 100%;
  height: 70vh;
  padding: 10px;
  border-bottom: 2px solid;
}
.intro{
    text-align: center;
    color: darkblue;
}

.picture {
  height:60vh;
  width: 30%;
  margin-top: 5vh;
  margin-left: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
 